/* UNTUK DASHBOARD */

body {
    margin: 0;
    /* display: flex; */
    min-height: 100vh; /* Pastikan sidebar dan konten menyesuaikan tinggi viewport */
}

.sidebar {
    width: 250px;
    background-color: #343a40; /* Warna sidebar */
    color: white;
    position: relative; /* Penting untuk posisi absolute tombol logout */
}

.user-info {
    margin-top: auto;
}

.main {
    flex-grow: 1;
    background: linear-gradient(135deg, #f8f9fa, #e9ecef); /* Background gradient */
    padding: 30px;
}

.content-card {
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}
